table, tr, th, td, thead {
    font-size: 10px;
    padding: 3px 6px;
    border: 1px solid black;
    text-align: center;
    font-family: sans-serif;
    border-collapse: collapse;
}
table {
    width: auto;
    margin: 0 auto;
}